.view {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
