button.rec-dot{
  background-color: rgba(16, 235, 199, 0.596);
  box-shadow: none;
  visibility: hidden;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba(235, 240, 240, 0.219);
}

.rec-arrow {
  background: white;
}

.rec.rec-arrow {
  border: none;
  background: none;
  box-shadow: none;
}

.rec.rec-arrow:hover {
  background: none;
  background-color: none !important;
  box-shadow: none !important;
}

.rec.rec-arrow:focus {
  background: none;
  box-shadow: none;
}
.lgksPe:hover:enabled, .lgksPe:focus:enabled {
  background: none !important;
  box-shadow:  none !important;
  color: #41b5e8 !important;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}