html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'HLight';
  src: url(../assets/fonts/helvelighfree.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'HRegular';
  src: url(../assets/fonts/Helvregfree.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'HBold';
  src: url(../assets/fonts/FreeSansBold.ttf);
  font-weight: normal;
}

.font-sm {
  font-family: 'HLight','Courier New', Courier, monospace;
  font-size: small;
  color: grey;
}

.font-md {
  font-family: 'HLight','Courier New', Courier, monospace;
  font-size: medium;
  color: rgb(105, 105, 105);
}

.font-md-regular {
  font-family: 'HRegular','Courier New', Courier, monospace;
  font-size: medium;
  color: rgb(54, 54, 54);
}

.font-md-bold {
  font-size: 17px;
  font-weight: bold;
  color: #494949;
}

