.st1{fill:#212935;}
.st5{fill:#FFFFFF;}

.st0{fill:#AFB3B7;stroke:#212935;stroke-width:5;stroke-miterlimit:10;}
.st1{fill:#CED1D2;}
.st2{fill:#ffffff;stroke:#0c8fa0;stroke-width:5;stroke-miterlimit:10;}
.st3{fill:#ffffff;}

button{
  border: none;
  background-color: #313944;
  color:white;
  padding: 5px;
}
.selected {
  background-color: #65C2EC;
}

.xs{
  font-size: xx-small;
}

.svg-icon{
  height: 32px;
  max-width: 32px;
}

.toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}


